<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanium.travel" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".kakao.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelHelper" >
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.TravelHelper.NoActionBar" >
        </activity>
        <activity android:name=".activity.SelectLocActivity" />
        <activity android:name=".activity.RecommendTravelActivity" />
        <activity
            android:name=".activity.ProgressingMyDataActivity" />
        <activity
            android:name=".activity.CollectMyDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.AddUserActivity"
            android:screenOrientation="portrait"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaoa90194c426e58d7d1d0b86c1a662743a" />
            </intent-filter>
        </activity>
    </application>

</manifest>